.btn-edit {
    align-items: center;
    background-color: rgb(4, 57, 78, 0.7) !important;
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0, 0.4);
    display: flex;
    height: 40px;
    justify-content: center;
}

.btn-edit:hover {
    background-color: rgb(4, 57, 78, 0.6) !important;
    border: none;
}

#formname,
#formlast_name,
#formemail,
#formpassword,
#formconfirm_password,
#formphone,
#formusername {
    border: 2px solid #DADADA !important;
    border-radius: 30px !important;
}

.modal-footer {
    padding: 0 !important;
}

.edit-modal-btn {
    margin: 0.5rem 0rem 1.5rem 0rem;
}