.btn-edit {
    align-items: center;
    background-color: rgb(4, 57, 78, 0.7) !important;
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0, 0.4);
    display: flex;
    height: 40px;
    justify-content: center;
}

.btn-edit:hover {
    background-color: rgb(4, 57, 78, 0.6) !important;
    border: none;
}

.image-upload-div {
    align-items: center;
    border: 2px dashed #ccc !important;
    border-radius: var(--radius-button);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
    min-height: 70px;
    padding: 2rem;
    position: relative;
}

.image-upload-div label,
.image-upload-div span {
    align-self: center;
    cursor: pointer;
    display: flex;
    font-weight: 600;
}

.icon {
    display: flex;
    height: 25px;
    width: auto;
}

.image-upload-div span {
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.edit-modal-btn {
    margin: 0.5rem 0rem 1.5rem 0rem;
}