.comic-details-container {
    margin: 1rem 2rem;
}
  
.comic-image-div {
    align-items: flex-start;
    display: flex;
    justify-content: center;
}
  
.comic-image-div img {
    border-radius: var(--radius-card);
    height: 33rem;
    object-fit: cover;
    width: auto;
}
  
.comic-details {
    background-color: white;
    border: 2px solid #D1D1D1;
    border-radius: var(--radius-card);
    display: flex;
    flex-direction: column;
    height: 33rem;
    padding: 20px 40px;
    position: absolute;
    width: 63rem;
}

.title-container {
    margin: 1rem 0rem 1.5rem 0rem;
}

.title-container span {
    color: black;
    font-size: 26px;
    font-weight: 800;
}

.fav-icon-container {
    margin-left: auto;
    padding: 0 !important;
}

.fav-icon {
    height: 30px;
    width: auto;
}

.comic-tags {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2rem;
}

.tag {
    background-color: rgb(245, 204, 23, 0.7);
    border-radius: var(--radius-card);
    padding: 15px;
    text-align: center;
}

.tag-title {
    color: #535B5B;
    font-size: 18px;
    font-weight: 800;
}

.tag span {
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.description-container {
    flex: 1;
    margin-bottom: 2rem;
    overflow-y: auto;
}

.description-container span {
    color: #535B5B;
    font-size: 1.1rem;
    line-height: 1.8;
}

.title-container,
.fav-icon-container,
.offer-button-container,
.seller-container {
    height: fit-content;
    width: auto;
}

.offer-button-container {
    align-self: flex-end;
    position: relative;
}

.seller-container {
    background-color: rgb(245, 204, 23, 0.7);
    border-radius: var(--radius-card);
    margin-left: auto;
    margin-right: 13px;
    padding: 15px 30px;
    width: 200px;
}

.seller-name-title {
    font-size: 18px;
    font-weight: 800;
}

.seller-username,
.seller-stats,
.star-icon {
    color: var(--dark-blue);
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.seller-rating {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.star-icon {
    align-items: center;
    display: flex;
    gap: 0.25rem;
}

.star-icon img {
    height: 1.5rem;
    width: auto;
}