.icon-btn {
  background: none;
  border: none;
  cursor: pointer; 
  display: flex;
  padding: 0 15px;
  position: relative;
}

.icon-img {
  border-radius: 50%;
  height: 40px !important;
  width: auto !important;
}

.icon-user {
  border-radius: 50%;
  height: 35px !important;
  width: 40px !important;
}

/* Estilos para el dropdown de botones del usuario */
.dropdown-toggle::after {
  display: none;
}

.icon-img {
  border-radius: 1000%;
  height: 35px;
  width: auto;
}

#dropdown-user-menu {
  background-color: var(--dark-blue);
  border-radius: var(--radius-card);
  justify-content: space-between;
  margin-top: 6px;
  padding: 2px 15px 10px 15px;
}

#dropdown-user-menu a {
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

#dropdown-user-menu a:hover {
  text-decoration: underline;
}

#dropdown-user-item {
  border-bottom: 1px solid white;
  display: flex;
  padding: 10px 5px;
}

#dropdown-user-item:hover {
  background-color: transparent;
}