.publish-modal-body {
    margin: 20px 30px 0px 30px;
}

.form-group-div {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

.publish-form-group {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.form-label {
    margin-bottom: 0 !important;
}

#title,
#category,
#publisher,
#edition,
#condition,
#description {
    border: 2px solid #DADADA !important;
    border-radius: 30px !important;
}

.price-div {
    padding-bottom: 0 !important;
}

#price {
    border: 2px solid #DADADA !important;
    border-radius: 0px 30px 30px 0px !important;
    padding: 9px 12px !important;
}

.publish-form-group select {
    height: 45px;
    margin-bottom: auto;
    margin-top: auto;
}

.image-upload-div {
    align-items: center;
    border: 2px dashed #DADADA !important;
    border-radius: var(--radius-button);
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    min-height: 70px;
    padding: 1rem 2rem;
    position: relative;
}

.image-upload-div label {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.label-icon {
    align-self: center;
    display: flex;
    height: 35px;
    padding-bottom: 10px;
    width: auto;
}

.image-upload-div span {
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.publish-modal-btn {
    padding: 10px 0px;
}

.span-red {
    color: rgb(196, 16, 16);
}