#name,
#last_name,
#email,
#password,
#confirm_password,
#phone,
#username {
    border: 2px solid #DADADA !important;
}

.input-group:first-child {
    margin-top: 15px;
}

.input-group:last-of-type {
    padding-bottom: 15px;
}