/* Importamos la fuente Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Variables globales */
:root {
  /* Paleta de colores principal */
  --dark-blue: #04394E;
  --green: #00875E;
  --lime: #A7CC15;
  --yellow: #F5CC17;
  --orange: #F56217;

  --background-color: #F3F4F6;
  
  /* Border radius */
  --radius-button: 6px;
  --radius-card: 10px;
}

/* Reset y estilos base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
}

/* Botones */
.btn {
  align-items: center;
  background: transparent;
  border: none;
  color: var(--dark-blue);
  cursor: pointer;
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 100%;
  line-height: 1;
}

.btn:hover {
  color: var(--dark-blue);
}

.btn-primary {
  background-color: rgb(0, 135, 94, 0.7) !important;
  border: none;
  border-radius: 10px;
  color: rgb(0, 0, 0, 0.4);
  padding: 13px 30px;
}

.btn-primary:hover {
  background-color: var(--green) !important;
  border: none;
}

.btn-secondary,
.btn-tertiary,
.btn-danger {
  align-items: center;
  border: none;
  border-radius: 10px;
  color: rgb(0, 0, 0, 0.4);
  display: flex;
  height: 40px;
  justify-content: center;
  width: 100%;
}

.btn-secondary {
  background-color: rgb(4, 57, 78, 0.7) !important;
}

.btn-secondary:hover {
  background-color: rgb(4, 57, 78, 0.6) !important;
  border: none;
}

.btn-tertiary {
  background-color: rgb(255, 67, 50, 0.65) !important;
}

.btn-tertiary:hover {
  background-color: #FE5041 !important;
  border: none;
}

.btn-danger {
  background-color: rgb(245, 98, 23, 0.7) !important;
}

.btn-danger:hover {
  background-color: #F27A3D !important;
  border: none;
  color: #985C3E !important;
}

.btn-back-container {
  display: flex;
  margin-left: 2rem;
  margin-top: 6rem;
  position: relative;
}

.btn-back {
  background-color: transparent !important;
  color: var(--dark-blue);
  font-size: x-large;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.btn-back:hover {
  background-color: transparent !important;
}

.btn-back-img {
  height: 40px;
  margin-right: 5px;
  width: auto;
}

/* Formularios */
.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

input {
  border: 2px solid rgb(0, 135, 94, 0.4) !important;
  border-radius: var(--radius-button);
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0.75rem;
  width: 100%;
}

input:focus {
  outline: none;
}

input[type="file"] {
  display: none !important;
}

.input-group {
  align-items: center;
  display: flex;
  max-width: 400px;
  width: 100%;
}

.input-group-text {
  background-color: rgb(195, 235, 37, 0.7) !important;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  padding: 12px 15px;
}

.input-icon {
  height: auto;
  width: 20px;
}

.input-group .rounded-input {
  border-radius: 0px 30px 30px 0px !important;
  font-size: 16px !important;
  padding: 9px 12px !important;
}

.form-control {
  border-radius: 15px !important;
  font-size: 16px !important;
  padding: 10px 20px;
}

.form-control::placeholder {
  color: #797979 !important;
}

select {
  background-color: white;
  border: 2px solid rgb(0, 135, 94, 0.4) !important;
  border-radius: var(--radius-button);
  color: var(--dark-blue);
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  padding: 0.5rem;
}

select option {
  background-color: rgb(195, 235, 37, 0.7);
  font-weight: 600;
}

select option:checked {
  font-weight: 900;
}

textarea {
  background-color: white;
  border: 2px solid rgb(0, 135, 94, 0.4);
  border-radius: 5px !important;
  color: var(--dark-blue);
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0.75rem;
  width: 100%;
}

/* Modales */
.modal-content {
  border-radius: var(--radius-card);
  font-family: "Nunito", sans-serif;
}

.modal-header {
  padding: 30px 30px 0px 20px !important;
}

.modal-title {
  font-weight: 600;
  margin-left: 20px;
}

.modal-body {
  margin: 0px 40px;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.footer-text {
  color: #6F6E6E;
  font-family: "Nunito", sans-serif;
  font-style: italic;
  padding-bottom: 10px;
}

.text-primary {
  font-weight: bold;
  padding-left: 5px;
}

/* SwalMessages */
/* Estilo para el contenedor de botones */
.swal2-actions {
  flex-direction: row !important;
  width: 100% !important;
}

/* Ajustes para los botones dentro del modal */
.swal2-actions .btn-yes,
.swal2-actions .btn-cancel {
  border: none;
  border-radius: 10px;
  color: rgb(0, 0, 0, 0.4);
  height: 40px;
  margin: 0 0.5rem;
  padding: 0px 30px;
}

.swal2-actions .btn-yes {
  background-color: rgb(255, 67, 50, 0.65) !important;
}

.swal2-actions .btn-yes:hover {
  background-color: #FE5041 !important;
  border: none;
}

.swal2-actions .btn-cancel {
  background-color: rgb(0, 135, 94, 0.7) !important;
}

.swal2-actions .btn-cancel:hover {
  background-color: var(--green) !important;
  border: none;
}